.identify{
  .bg-img{
    width:100%;
  }
  .font-primary{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: 30px;
  }
  .btn-primary{
    display: block;
    margin:20px auto;
    border-radius: 15px;
    padding:0 40px;
    background-color:rgba(233,56,96,1);
  }
}